[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = {version = "*", extras = ["rabbitmq"]}
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.12"
